BLAST/uniprotkb_elegans_2024_10_20.fasta
genomeassembly/ecoli-pacbio/ecoli.seqStore/blobs.0003
genomeassembly/ecoli-pacbio/unitigging/ecoli.ctgStore/partition.0001
genomeassembly/pacbio.fastq
genomeassembly/xaa.fq
genomeassembly/xab
